/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
    font-family: 'arianamuserif';
    src: url('./assets/fonts/arianamuserif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-dark: #18181a;
    --color: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    position: relative;
    color: var(--bg-color-dark) !important;
    background-color: var(--color) !important;
    /* font-family: "PT Serif", serif !important; */
    font-weight: 400 !important;
}

p {
    font-family: 'arianamuserif';
	font-weight: 400;
}

.logo_ {
    font-family: "DynaPuff", system-ui;
    border-radius: .4em;
    width: 4em;
    height: auto;
}

.social-icon {
    display: flex;
    margin-left: -1em;
    gap: 1em;
}

.social-icon img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}

.social-icon img:hover {
    transform: scale(1.1);
}

.social-icon a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

nav.navbar {
    width: calc(100% - 2em);
    z-index: 9999;
    position: fixed;
    border-radius: .5em;
    margin: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #101010;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav.navbar.scrolled {
    background-color: #C5FF7A;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  position: relative;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	top: 0;
	left: 0;
	z-index: 2;
	transition: all 300ms linear;
}

span.navbar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25em 2em;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    letter-spacing: 0.8px;
    padding: .4em;
    font-size: 1.05em;
    display: flex;
    justify-content: center;
}

.resume {
    z-index: 1;
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding: .9em 2em;
    /* color: #513A50; */
    background: var(--color);
    color: var(--bg-color-dark);
    text-decoration: none;
    border: solid .25em #C5FF7A;
    border-radius: .5em;
    box-shadow: 12px 12px 0 -5px #C5FF7A;
    transition: box-shadow 0.3s, color 0.3s;
    overflow: hidden;
    letter-spacing: 2px;
    margin: 1em 0 2.5em 0;
}
  
.resume:before {
    display: inline-block;
    transition: top 0.35s, left 0.35s;
    position: absolute;
    transform: skew(-50deg);
    top: 0;
    left: 260px;
    background-color: rgba(197, 255, 122); 
    content: "　";
    width: 220px;
    height: 120px;
    z-index: -1;
}
  
.resume:hover {
    box-shadow: 0 0 .25em #C5FF7A;
  /*   color: #513A50; */
}
  
.resume:hover:before {
    top: -40px;
    left: -40px;
}

.banner {
    margin-top: 0;
    padding: 9.5em 0 0 0;
    height: 100vh;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    font-size: 1.2em;
}

.img_banner {
    border-radius: .4em;
    height: 75vh;
    position: relative;
    box-shadow: .5em .5em 5px #C5FF7A;
}

@keyframes opacity {
    0% {
      opacity: 1;
   }
    100% {
      opacity: 0;
   }
}

.dev {
    font-weight: 400;
}

#ellipsis span:nth-child(1),
#ellipsis span:nth-child(2),
#ellipsis span:nth-child(3) {
    animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: #a2f930;
}
   
#ellipsis span:nth-child(2) {
    animation-delay: 100ms;
}
   
#ellipsis span:nth-child(3) {
    animation-delay: 300ms;
}

.img-height {
    height: 12em;
    object-fit: cover;
    width: 100%;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.card-title {
    font-family: "Ubuntu";
    font-weight: 400;
    text-align: center;
}

.project {
    /* padding: 2.5em 0; */
    position: relative;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
    padding-bottom: .5em;
    text-align: center;
}

.card {
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.02) !important;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-color-dark) !important;
        color: var(--color) !important;
    }

    .resume {
        color: var(--color);
        background: var(--bg-color-dark);
    }

    .resume:hover {
        color: var(--bg-color-dark);
    }

    .card {
        color: var(--color) !important;
        background: #262627 !important;
    }
}

@media (max-width: 768px) {
    .banner {
        padding-top: 6.2em;
        text-align: center;
    }
    
    div.banner_ {
        display: flex;
        justify-content: center;
    }

    .img_banner {
        height: 46vh;
    }

    .banner h1 {
        font-size: 2em;
        font-weight: 500;
    }

    .banner p {
        font-size: 1em;
    }

    .resume {
        margin: .8em auto 2.4em;
    }

    .dev {
        font-size: .42em;
    }

    #ellipsis {
        margin-top: -0.25em;
    }

    #ellipsis span:nth-child(1),
    #ellipsis span:nth-child(2),
    #ellipsis span:nth-child(3) {
        font-size: 1em;
    }

    /* .project {
        padding-top: 2.65em;
    } */

    #projects {
        margin-top: 1em;
    }

    /* #skills {
        margin-top: 2em;
    } */
}

@media (min-width: 768px) {
    #projects {
        margin-top: 1em;
    }
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.navbar {
    z-index: 3;
}

h1, h2, h5 {
    font-family: "Ubuntu";
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer .social-icon {
    float: right;
}

footer {
    background: #1d1d1f !important;
}